.formWrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    padding: 20px;
  }
  
  .mat-form-field {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .ckeditorContainer {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
  }
 
  