/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.ck.ck-editor__main .ck-editor__editable {
  background: #ffffff;
  min-height: 400px !important;
  border-radius: 0;
  max-height: 700px !important;
  overflow: scroll;
}


