<div class="container">
  <h2>Register</h2>
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="emailForm">
      <ng-template matStepLabel>Verify Email</ng-template>
      <form [formGroup]="emailForm" (ngSubmit)="requestOTP()">
        <mat-form-field class="full-width">
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Email"
            required
          />
          <mat-error *ngIf="emailForm.get('email')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="emailForm.get('email')?.hasError('email')"
            >Invalid email format</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="full-width"
          [disabled]="loading || !emailForm.valid"
        >
          <span *ngIf="loading">
            <mat-spinner [diameter]="20" color="accent"></mat-spinner>
          </span>
          <span *ngIf="!loading">Reset Password</span>
        </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="resetForm">
      <ng-template matStepLabel>Reset Password</ng-template>
      <form [formGroup]="resetForm">
        <p class="full-width email">{{resetForm.get('email')?.value}}</p>
        <mat-form-field class="full-width">
          <input
            matInput
            type="text"
            formControlName="otp"
            placeholder="OTP"
            required
          />
          <mat-error *ngIf="resetForm.get('otp')?.hasError('required')"
            >OTP is required</mat-error
          >
          <mat-error *ngIf="resetForm.get('otp')?.hasError('pattern')"
            >Invalid OTP format</mat-error
          >
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            type="{{ hidePassword ? 'password' : 'text' }}"
            formControlName="password"
            placeholder="Password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="resetForm.get('password')?.hasError('required')"
            >Password is required</mat-error
          >
          <mat-error *ngIf="resetForm.get('password')?.hasError('pattern')">
            Password must start with a letter, contain at least one capital
            letter, one special character, and one digit
          </mat-error>
          <mat-error *ngIf="resetForm.get('password')?.hasError('minlength')"
            >Password must be at least 8 characters long</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="full-width"
          (click)="resetPassword()"
          [disabled]="loading || !resetForm.valid"
        >
          <span *ngIf="loading">
            <mat-spinner [diameter]="20" color="accent"></mat-spinner>
          </span>
          <span *ngIf="!loading">Reset Password</span>
        </button>
      </form>
    </mat-step>
  </mat-stepper>
</div>
