<div class="container">
    <mat-spinner *ngIf="loading==true" style="height: 50px; width: 50px;"></mat-spinner>
    <div class="formWrapper" *ngIf="loading==false">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="post.title" required>
        </mat-form-field>
        <app-topic [topics]="post.topics" (getTopics)="getTopics($event)"></app-topic>
        <div class="ckeditorContainer">
            <mat-label>Content</mat-label>
            <ckeditor [config]="editorConfig" [editor]="Editor" [(ngModel)]="post.content" required>
            </ckeditor>
        </div>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
</div>